<h2>courses index</h2>            
  <table class="table table-hover">
    <thead>
      <tr>
				<th>ID</th>
				<th>Course</th>
				<th>Faculty</th>
				<th>Duration</th>
				<th>seats_available</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
    </thead>
    <tbody>
      <% @courses.each do |cours| %>
				<tr>
					<td><%= cours.id %></td>
					<td><%= cours.course %></td>
					<td><%= cours.faculty %></td>
					<td><%= cours.duration%></td>
					<td><a href="/courses/<%= courses.id %>">Show</a></td>
					<td><a href="/courses/<%= courses.id %>/edit">Edit</a></td>
					<td><%= link_to "Destroy",course_path(@courses),
										method: :delete, 
										data: { confirm: "Are you sure?" }%></td>
				</tr>
			<% end %>
    </tbody>
  </table>
  <a class="btn btn-primary" href="/courses/new">Add New Course</a>
</div>